@font-face {
  font-family: "myFirstFont";
  src: url("hand-font.ttf") format("truetype");
}

body {
  background-color: pink;
  margin: 30px;
}

h1 {
  text-align: center;
  font-family: "myFirstFont";
}

button {
  font-family: "myFirstFont";
}
.question {
  font-weight: bolder;
}

#swift {
  display: none;
  text-align: center;
  background-color: rgba(64, 46, 75, 0.37);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

#java {
  display: none;
  text-align: center;
  background-color: #ffffffb6;
  color: #34526f;
  padding: 15px;
}

#python {
  display: none;
  text-align: center;
  background-color: #6667ab63;
  color: whitesmoke;
  padding: 15px;
}
